html {
  height: -webkit-fill-available;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  position: relative;
  display: flex;
  place-content: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
	background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: -webkit-fill-available;
}

#root {
  width: 30%;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: rgb(40, 40, 102);
}

Form {
  display: inline-block;
}

.form-control {
  width: 100% !important;
  height: 15% !important;
  margin-top: 5px;
  font-size: 100%;
  box-sizing: border-box;
  border: 1px solid #CACACA;
}

.react-tel-input{
  width: 100% !important;
  height: 15% !important;
  margin-top: 5px;
}

button {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: auto;
  margin-top: 5%;
  box-shadow: 0 5px 15px rgba(189, 25, 25, 0.2);
}

button span {
  position: relative; 
  z-index: 1;
}

button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #06525a;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

jdiv .label_39 {
  display: none !important
}   
.globalClass_ET jdiv .__jivoMobileButton{
  display: none !important
}

.header_2u {
  position: static !important;
}

.avatar_2c {
  padding-left: 10px !important;
}

.main_2l {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  right: 0% !important;
}

textarea.inputField_2G:focus {
  min-width: 100% !important;
}

.input_6h {
  width: 100% !important;
}
.body_2s {
  width: 100% !important;
}